<html ng-app="app">
	<head>
		<title>My Angular app</title>
		<script src="js/angular.js"></script>
		<style>.model {background: #f9f9f9;padding: 25px;margin: 20px 0 0;border: 1px solid #e5e5e5;}</style>
	</head>
	<body>
		<form
			novalidate
			name="register"
			ng-controller="CheckoutController as checkout"
			ng-submit="checkout.onSubmit();">

			<h4>Checkout</h4>
			<p>Fill in your details to complete your order</p>

			<label>
				Username
                <!-- ng-model="checkout.details.username" - binds username -->
				<input
					type="text"
					name="username"
					placeholder="Username"
					ng-model="checkout.details.username"
					required="required">
			</label>

			<label>
				Password
                <!-- ng-model="checkout.details.password" - binds pwd -->
				<input
					placeholder="Password"
					type="password"
					name="password"
					ng-model="checkout.details.password"
					required="required">
			</label>

			<label>
				Coupon
                <!-- ng-model="checkout.details.coupon" - binds coupon -->
				<input
					placeholder="Coupon"
					type="text"
					name="coupon"
					ng-model="checkout.details.coupon"
					required="required"
					coupon-format>
                    <!-- coupon-format - bound directive couponFormat; controls view display & model -->
			</label>

			<button type="submit">
				Checkout
			</button>

			<div class="model">
				Model value:
				<pre>{{ checkout.details | json }}</pre>
			</div>
		</form>

		<script src="js/app.js"></script>
		<script src="js/directives/couponFormat.js"></script>
		<script src="js/controllers/CheckoutController.js"></script>
	</body>
</html>
